.jquery-modal {
  padding: 15px; }
  .jquery-modal .modal {
    width: auto;
    padding: 0;
    border-radius: 0; }
    .jquery-modal .modal .icon-remove {
      width: calc(34px / 2);
      height: calc(34px / 2);
      background-image: url("../images/common/modal-close.png");
      top: 10px;
      right: 10px; }
  .jquery-modal .agreement-modal {
    width: 420px;
    padding: 35px 10px 30px; }
    .jquery-modal .agreement-modal + .icon-remove {
      display: none; }
    .jquery-modal .agreement-modal .agree-title {
      margin-bottom: 19px;
      color: #000;
      font-size: 15px;
      font-weight: 700;
      line-height: 15px; }
    .jquery-modal .agreement-modal .agreement {
      width: 100%;
      height: 229px;
      padding: 15px;
      margin-bottom: 24px;
      color: #747474;
      font-size: 15px;
      line-height: 25px;
      border: 1px solid #e8e8e8;
      background-color: #f8f8f8;
      white-space: pre-wrap;
      overflow: auto; }
    .jquery-modal .agreement-modal .agree-btn-wrap {
      width: 100%; }
      .jquery-modal .agreement-modal .agree-btn-wrap .agree-btn {
        display: block;
        width: 107px;
        height: 35px;
        margin: 0 auto;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        line-height: 35px;
        text-align: center;
        background-color: #af9963; }
  .jquery-modal .password-wrap {
    width: 410px;
    padding: 40px 45px 27px;
    border-radius: 0; }
    .jquery-modal .password-wrap > h1 {
      margin-bottom: 32px;
      color: #000;
      font-size: 20px;
      font-weight: 700;
      text-align: center; }
    .jquery-modal .password-wrap .password-input {
      width: 100%;
      height: 36px;
      margin-bottom: 32px;
      color: #000;
      font-size: 15px;
      padding: 0 10px;
      border: 1px solid #e4e4e4; }
    .jquery-modal .password-wrap .password-btn-wrap {
      width: 100%; }
      .jquery-modal .password-wrap .password-btn-wrap .submit,
      .jquery-modal .password-wrap .password-btn-wrap .close {
        float: left;
        width: calc(50% - 8px);
        height: 35px;
        font-size: 16px;
        font-weight: 700;
        line-height: 35px;
        text-align: center;
        text-decoration: none; }
      .jquery-modal .password-wrap .password-btn-wrap .submit {
        margin-right: 16px;
        color: #fff;
        background-color: #af9963; }
      .jquery-modal .password-wrap .password-btn-wrap .close {
        color: #000;
        background-color: #d9d9d9; }
    .jquery-modal .password-wrap + .icon-remove {
      display: none; }

* {
  font-family: 'NanumBarunGothic', sans-serif !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

b {
  font-weight: 700; }

li {
  list-style: none; }

button, a {
  cursor: pointer; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #959595; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #959595; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #959595; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #959595; }

input, textarea, select, button, a {
  outline: none; }

.wrap {
  width: 100%;
  min-width: 1000px; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.gold {
  color: #b3995a; }

.page {
  width: 100%;
  min-width: 1000px; }
  .page .main-img {
    width: 100%;
    height: 200px;
    position: relative; }
    .page .main-img > h1 {
      color: #fff;
      font-size: 35px;
      font-weight: 400;
      line-height: 200px;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .page .content {
    width: 1000px;
    min-height: 500px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 110px; }
    .page .content .title {
      padding-bottom: 22px;
      margin-bottom: 30px;
      color: #000;
      font-size: 25px;
      font-weight: 700;
      line-height: 24px;
      border-bottom: 1px solid #d9d9d9;
      position: relative; }
    .page .content .form-link {
      display: block;
      width: 152px;
      height: 34px;
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      line-height: 34px;
      text-align: center;
      text-decoration: none;
      background-color: #b3995a;
      position: absolute;
      right: 0;
      top: 0px; }

.checkbox-label {
  display: inline-block;
  height: 20px;
  cursor: pointer; }
  .checkbox-label + .checkbox-label {
    margin-left: 26px; }
  .checkbox-label > input[type=checkbox] {
    width: 1px;
    height: 1px;
    opacity: 0; }
    .checkbox-label > input[type=checkbox]:focus + .checkbox-icon {
      -webkit-box-shadow: 0 0 5px 2px #51cbee;
      box-shadow: 0 0 5px 2px #51cbee; }
    .checkbox-label > input[type=checkbox]:checked + .checkbox-icon {
      background: #fff url("../images/common/checkbox-active.png") center center no-repeat;
      background-size: cover; }
  .checkbox-label .checkbox-icon {
    float: left;
    width: 18px;
    height: 18px;
    background-color: #fff; }
  .checkbox-label .checkbox-border {
    border: 1px solid #e4e4e4; }
  .checkbox-label .label-name {
    float: left;
    margin-left: 8px;
    color: #8d8d8d;
    font-size: 14px;
    line-height: 20px; }
  .checkbox-label .write-label-name {
    color: #000;
    font-size: 16px; }

.form-select {
  -webkit-appearance: listbox;
  -moz-appearance: listbox;
  appearance: listbox;
  width: 100%;
  height: 100%;
  padding: 0 11px;
  color: #000;
  font-size: 14px;
  border: 0;
  border-radius: 0;
  background: #f6f6f6 url("../images/common/select.png") right 15px center no-repeat;
  background-size: 16px; }
  .form-select::-ms-expand {
    display: none; }
  .form-select.selected {
    color: #000; }

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype"); }

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype"); }

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype"); }

.header {
  width: 100%;
  min-width: 1000px;
  height: 147px;
  margin: 0 auto;
  background-color: #fff; }
  .header .top-box {
    width: 100%;
    border-bottom: 1px solid #d9d9d9; }
  .header .wrap {
    width: 1000px;
    height: 89px;
    margin: 0 auto;
    position: relative; }
    .header .wrap .logo-icon {
      width: 279px;
      height: 57px;
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .header .wrap .global {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .header .wrap .global > a {
        display: inline-block;
        width: 156px;
        height: 33px;
        color: #000;
        font-size: 16px;
        line-height: 33px;
        text-decoration: none; }
        .header .wrap .global > a > img {
          float: left;
          width: 33px;
          height: 33px; }
        .header .wrap .global > a > span {
          float: left;
          margin-left: 6px; }
        .header .wrap .global > a + a {
          margin-left: 30px; }
  .header .bottom-box {
    width: 100%;
    height: 56px; }
  .header .menu {
    width: 100%;
    height: 56px;
    position: relative; }
    .header .menu:hover > .sub-menu {
      display: block; }
    .header .menu > ul {
      width: 920px;
      margin: 0 auto;
      line-height: 56px; }
    .header .menu .item {
      float: left;
      text-align: center; }
      .header .menu .item-1 {
        width: 240px; }
      .header .menu .item-2, .header .menu .item-3, .header .menu .item-4, .header .menu .item-5 {
        width: 170px; }
      .header .menu .item > a {
        color: #000;
        font-size: 17px;
        font-weight: 700;
        text-decoration: none; }
        .header .menu .item > a:hover {
          color: #b3995a; }
    .header .menu .sub-menu {
      display: none;
      width: 100%;
      height: 147px;
      border-top: 1px solid #d9d9d9;
      background-color: #fff;
      position: absolute;
      top: 55px;
      z-index: 1; }
      .header .menu .sub-menu > ul {
        width: 920px;
        margin: 0 auto;
        padding: 34px 0; }
      .header .menu .sub-menu .sub-item {
        float: left;
        text-align: center; }
        .header .menu .sub-menu .sub-item-1 {
          width: 240px; }
        .header .menu .sub-menu .sub-item-2, .header .menu .sub-menu .sub-item-3, .header .menu .sub-menu .sub-item-4, .header .menu .sub-menu .sub-item-5 {
          width: 170px; }
        .header .menu .sub-menu .sub-item > a {
          display: block;
          color: #000;
          font-size: 15px;
          text-decoration: none; }
          .header .menu .sub-menu .sub-item > a:hover {
            color: #b3995a; }
          .header .menu .sub-menu .sub-item > a + a {
            margin-top: 17px; }

.footer {
  width: 100%;
  min-width: 1000px;
  height: 214px;
  background-color: #e9e9e9; }
  .footer .wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 66px 0; }
    .footer .wrap .logo-icon {
      float: left; }
    .footer .wrap .desc-wrap {
      float: left;
      margin-left: 43px; }
      .footer .wrap .desc-wrap .desc {
        color: #4c4c4c;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.42px; }
        .footer .wrap .desc-wrap .desc > a {
          color: inherit;
          font-size: inherit;
          text-decoration: none; }
      .footer .wrap .desc-wrap .dash {
        margin: 0 8px;
        color: #c5c5c5;
        letter-spacing: -0.42px; }

.main-img {
  background: url("../images/regeneration/regeneration_main.png") center center no-repeat;
  background-size: cover; }

.tabs-wrap {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #d9d9d9;
  position: relative; }
  .tabs-wrap > ul {
    width: 600px;
    height: 56px;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .tabs-wrap .tab {
    float: left;
    width: 200px;
    height: 56px;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff; }
    .tabs-wrap .tab > a {
      display: block;
      width: 200px;
      color: #000;
      font-size: 17px;
      line-height: 56px;
      text-align: center;
      text-decoration: none; }
    .tabs-wrap .tab.active {
      border-bottom: 0;
      background-color: #b3995a; }
      .tabs-wrap .tab.active > a {
        color: #fff; }
    .tabs-wrap .tab + .tab {
      border-left: 1px solid #d9d9d9; }
    .tabs-wrap .tab + .tab.active {
      border-left: 0; }
    .tabs-wrap .tab.active + .tab {
      border-left: 0; }
    .tabs-wrap .tab:first-child:not(.active) {
      border-left: 1px solid #d9d9d9; }
    .tabs-wrap .tab:last-child:not(.active) {
      border-right: 1px solid #d9d9d9; }

.regeneration {
  width: 100%;
  margin-bottom: 65px; }
  .regeneration .text-wrap {
    float: left;
    width: calc(1000px - 476px); }
    .regeneration .text-wrap > p {
      color: #000;
      white-space: pre-wrap; }
      .regeneration .text-wrap > p.text-1 {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px; }
      .regeneration .text-wrap > p.text-2 {
        font-size: 16px;
        line-height: 25px; }
  .regeneration .img-wrap {
    float: left;
    width: 476px;
    height: 216px; }

.regeneration-advantages-title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700; }

.regeneration-advantages {
  padding: 30px 25px;
  background-color: #f1f3f7; }
  .regeneration-advantages > li {
    font-size: 16px;
    line-height: 26px; }

.step-list {
  height: 172px; }
  .step-list + .step-list {
    margin-top: 40px; }
  .step-list .step {
    float: left;
    border-top: 2px solid #666;
    position: relative; }
    .step-list .step .step-box {
      display: table;
      width: 312px;
      height: 89px;
      background-color: #f1f3f7;
      position: relative; }
      .step-list .step .step-box .step-num {
        width: 42px;
        height: 42px;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 43px;
        border-radius: 50%;
        background-color: #666;
        position: absolute;
        top: 50%;
        left: 20px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .step-list .step .step-box .step-cell {
        display: table-cell;
        width: 100%;
        padding-left: 80px;
        vertical-align: middle;
        border-bottom: 1px solid #d9d9d9; }
        .step-list .step .step-box .step-cell > p {
          font-size: 16px;
          line-height: 26px; }
    .step-list .step .step-extend {
      width: 100%;
      padding: 20px 0;
      padding-left: 80px;
      border-bottom: 1px solid #d9d9d9;
      position: relative; }
      .step-list .step .step-extend::before {
        content: '';
        display: block;
        width: 30px;
        height: 27px;
        background: url("../images/common/drop-arrow.png") center center no-repeat;
        background-size: cover;
        position: absolute;
        top: 11px;
        left: 38px; }
      .step-list .step .step-extend > p {
        font-size: 16px;
        line-height: 26px; }
    .step-list .step + .step {
      margin-left: 32px; }
      .step-list .step + .step::before {
        content: '';
        display: block;
        width: 15px;
        height: 25px;
        background: url("../images/common/step-arrow.png") center center no-repeat;
        background-size: cover;
        position: absolute;
        top: 30px;
        left: -23px; }

.docs-table {
  width: 100%;
  border-top: 2px solid #000; }
  .docs-table th, .docs-table td {
    padding: 20px;
    vertical-align: middle; }
  .docs-table > thead > tr {
    height: 56px;
    background-color: #f1f3f7;
    border-bottom: 1px solid #e4e4e4; }
    .docs-table > thead > tr > th {
      font-weight: 700; }
      .docs-table > thead > tr > th + th {
        border-left: 1px solid #e4e4e4; }
  .docs-table > tbody > tr {
    border-bottom: 1px solid #e4e4e4; }
    .docs-table > tbody > tr > th {
      font-weight: 700;
      border-right: 1px solid #e4e4e4; }
      .docs-table > tbody > tr > th > p {
        line-height: 25px; }
    .docs-table > tbody > tr > td {
      height: 56px; }
      .docs-table > tbody > tr > td > p {
        line-height: 30px; }
